#background{
  background-image: url("https://www.bestfunforall.com/getwallpaper1/imgs/Galaxy%20Wallpapers%201366x768%204.jpg");
  height: 300px;

}
.wai { width: auto !important}
.recommend{
  background-color: #F0FFFF;
  height: auto;
  width: 100%
}
.fontsize{
  font-size: 20px;
  font-family: "Times New Roman";
  padding-left: 20px;
  padding-top: 50px;
}
.cardstyle{
  height: 100px;
  position: absolute;
}
